*.java linguist-detectable=true

*.html linguist-detectable=false
*.htm linguist-detectable=false
*.js linguist-detectable=false
*.c linguist-detectable=false
*.css linguist-detectable=false
*.h linguist-detectable=false
